VITE_API_URL=http://localhost:3000/api

# Usar datos dummy para pruebas (solo en desarrollo)
# Por defecto está habilitado en desarrollo. Ponlo en "false" para deshabilitarlo.
# VITE_USE_DUMMIES=true
